<h2>Login into mailing List</h2>

<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="password" name="password">
    <button>Login</button>
</form>